body {
       background-color: rgb(22, 12, 12);
    font-family: play;
   }

.song {
    display: flex;
    justify-content: space-evenly; 
    align-items: space-around;
    flex-wrap: wrap; 
    padding-top: 130px; 
    padding-left: 50px;
    padding-right: 50px;

    }

.s h1{
    color: aliceblue;
    font-size: 28px;
}

.s h2{
    color: aliceblue;
    font-size: 21px;
}

.s{
    display: block;
}

.a{
    top: 0;
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-content: end;
    font-size: 20px;
    
    
}

.a >*{
    flex-basis: 10px;
}

.b{
    top: 0;
    margin-right: 10px;
}


    

.b:hover{
    color: rgb(175, 150, 119);
    cursor: pointer;
}

img:hover{
    opacity: 50%;

}
.drop{
    color: black;
    display: flex;
    font-size: 70px;
    text-align: left;
}
.a h1{
   
}

.a h1 >*{
    display: flex;
    align-self: flex-start;
}

.d{
    position: relative;
    background-color:antiquewhite;
    display:inline-flex ;
    gap: 740px;
    
}
.d h1{
    font-size: 50px;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 200px; 
    color: aliceblue;

  }
  
  .title {
    font-size: 1.6em; 
    font-weight: bold;
    margin-top: 15px;
  }
  
  .subtitle {
    font-size: 0.9em; 
    margin-top: 4px; 
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.b {
    margin: 10px 20px;
    cursor: pointer;
}